<form id="checkout" method="post" action="/checkout">
  <div id="payment-form"></div>
  Amount<input type="text" name="amount" placeholder = "100.00" /> <br />
  <input type="submit" value="Pay">
</form>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script>
  braintree.setup(
    // Replace this with a client token from your server
      <%= '"'+@clientToken+'"' %>,
    "dropin", {
      container: "payment-form"
    });
</script>