<form action="/create" method="POST">
    Name: <input type="text" name="name" required>
    Username: <input type="text" name="username" required>
    Password: <input type="password" name="pass" required>
    Confirm Password: <input type="password" name="pass2" required>
    <submit>Submit</submit>
</form>