<form action="/create" method="POST">
    Name: <input type="text" name="name" required><br />
    Username: <input type="text" name="username" required><br />
    Password: <input type="password" name="pass" required><br />
    Confirm Password: <input type="password" name="pass2" required><br />
    <<input type="submit" value="Submit">
</form>