<form action='POST' method='/create-user'>
    Google ID:<input type='text' name='g_id' /><br />
    Facebook ID:<input type='text' name='f_id' /><br />
    Braintree ID:<input type='text' name='bt_id' /><br />
</form>