<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <nav id="jumbotron-nav" class="navbar navbar-inverse pd-flexbox">
            <a href="#" class="navbar-text">CHARITY</a>
            <a href="#" class="navbar-text">ABOUT</a>
            <a href="#"><img src="/img/payday_logo.svg"></a>
            <a href="#" class="navbar-text">DONATE</a>
            <a href="#" class="navbar-text">CONTACT</a>
        </nav>
    </div>
</div>

<div id="main-container" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3>WHAT IS PAYDAY?</h3>
            <hr class="section-hr">
            <p>PayDay is a web platform that allows users to easily make donations to charities. We will provide a list of charities that users can select from. PayDay will send you friendly reminders every two weeks to make a donation. These reminders will be via email or text messages based on your preference. There will also be an option to set up a recurring payment to your favorite charity.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>WHY CHOOSE PAYDAY?</h3>
            <hr class="section-hr">
            <p>We make it easy for you to help the world.<br>
                You will see real data on who and how you have helped.<br>
                We will find the most needy charity for you.<br>
                Payments will be made automatically when your money comes through.<br>
                You have control over how much you donate.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="flexbox-center"><button id="start-donating-today-button" type="button">START DONATING TODAY</button></div>
        </div>
    </div>
    <div class="row image-grid">
        <div class="col-xs-12 col-s-6 col-md-4 col-lg-4"><p><i class="glyphicon glyphicon-cloud"></i><br>Environmental</p><a href="#"><img src="/img/environmental.jpg" alt=""></a></div>
        <div class="col-xs-12 col-s-6 col-md-4 col-lg-4"><p><i class="glyphicon glyphicon-globe"></i><br>International MGO</p><a href="#"><img src="/img/internation_ngo.jpg" alt=""></a></div>
        <div class="col-xs-12 col-s-6 col-md-4 col-lg-4"><p><i class="glyphicon glyphicon-music"></i><br>Arts and Culture</p><a href="#"><img src="/img/arts_culture.jpg" alt=""></a></div>
    </div>

    <div class="row image-grid">
        <div class="col-xs-12 col-s-6 col-md-4 col-lg-4"><p><i class="glyphicon glyphicon-piggy-bank"></i><br>Animals</p><a href="#"><img src="/img/animals.jpg" alt=""></a></div>
        <div class="col-xs-12 col-s-6 col-md-4 col-lg-4"><p><i class="glyphicon glyphicon-book"></i><br>Education</p><a href="#"><img src="/img/education.jpg" alt=""></a></div>
        <div class="col-xs-12 col-s-6 col-md-4 col-lg-4"><p><i class="glyphicon glyphicon-heart"></i><br>Healthcare</p><a href="#"><img src="/img/health_care.jpg" alt=""></a></div>
    </div>
