<html>
    <head>
        <title>
            <%= @title %>
            <%= @google_login %>
        </title>

        <link rel="stylesheet" href="/css/main-styles.css">
    </head>
    <body>
        <% if(@flags) %>
            <% @flags.each do |flag| %>
                <p><%=  flag %></p>
            <% end %>
        <% end %>
        
        <%= yield %>
    </body>
</html>