<html>
	<head>
		<title>
			<%= @title %>
		</title>
		
		<link rel="stylesheet" href="/css/main-styles.css">
	</head>
	<body>
        <% @flags.each do |flag| %>
            <p><%=  flag %></p>
        <% end %>
        <%= yield %>
	</body>
</html>